<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"  
            "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<!-- Create bean of type EmployeeService class and insert dependency of EmployeeDAO class in it using Constructor Dependency Injection -->
	<bean id="employeeService" class="com.javainuse.service.EmployeeService">
		<constructor-arg ref="employeeDAO" />
	</bean>
	<bean id="employeeDAO" class="com.javainuse.dao.EmployeeDAO" />
</beans>